@model IEnumerable<Major_Project_UBA_ProtoType.Models.Transaction>

@{
    ViewData["Title"] = "Customer Transactions";
    
}

<h1>Customer Transactions</h1>
@*@if (Model.Any())
{*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        @*<tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                   
                </td>
            </tr>
            }
        </tbody>*@
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Transactions Made as Yet
        </div>
        
    </div>
@*}*@
